<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Turahan"
        tools:targetApi="31">
        <activity
            android:name=".volunteer.ConfirmDonations"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar"/>
        <activity
            android:name=".AddCampaign"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".PaymentMidtrans"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolGroupConfirmDon"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolProcessDonation"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolDonasiBerhasil"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".InstruksiPembayaran"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolDonationDetail"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolunteerDonationHistory"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".OrderSuccess"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.DonasiBerhasil"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.DonationDetail"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAil-n4ewBbUs_ImKJuURkJR5Fc6XSWfG8" />

        <activity
            android:name=".CustomAdressActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".PickLocation"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.ChangeProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".PickUp"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".ArticleExpand"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".DropOff"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".onboarding.OnBoarding"
            android:exported="true"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".sign.FirstTimerActivity"
            android:exported="true"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sign.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.home.ArticleDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.home.NotificationActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".volunteer.VolunteerMain"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.AboutActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.DonasiProses"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.SecurityActivity"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.DonationHistory"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.profile.DonationReport"
            android:exported="false"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Turahan.NoActionBarAndStatusBar" />
    </application>

</manifest>